# Question 2

**Import Training Data**

In [1]:
import pandas as pd
df = pd.read_csv('DogsVsCatsTrainSet.csv')
df2 = pd.read_csv('adadata.csv', header = None)
df3 = pd.read_csv('adatestdata.csv', header = None)

In [2]:
df3

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,-1,0.095610,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.051888,0.151667,0.000074,0.000000,0.000000,0.070813,0.212561,0.000000
1,-1,0.309445,0.069344,0.0,0.0,0.000782,0.017169,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.000004,0.005912,0.000207,0.000000,0.000000,0.002629,0.000483
2,-1,0.174749,0.024496,0.0,0.0,0.000168,0.012561,0.0,0.0,0.0,...,0.000000,0.0,0.000742,0.003819,0.017215,0.000000,0.003065,0.002592,0.036018,0.032757
3,-1,0.008506,0.000008,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000255,0.0,0.000000,0.051601,0.105126,0.000367,0.000000,0.000000,0.050700,0.385304
4,-1,0.272272,0.002819,0.0,0.0,0.000445,0.002427,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.000615,0.008780,0.000542,0.000000,0.000000,0.011349,0.155869
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12495,1,0.337673,0.000000,0.0,0.0,0.000008,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.000172,0.061484,0.000000,0.000000,0.000000,0.444640,0.004353
12496,1,0.333420,0.001408,0.0,0.0,0.003718,0.005230,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.000000,0.001580,0.000000,0.000000,0.000000,0.003347,0.002202
12497,1,0.216397,0.000028,0.0,0.0,0.000251,0.000012,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.047540,0.039314,0.000000,0.000000,0.000112,0.025386,0.011374
12498,1,0.056453,0.001229,0.0,0.0,0.004674,0.000228,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.000144,0.033101,0.000319,0.000000,0.000012,0.027791,0.030470
12499,1,0.176908,0.001748,0.0,0.0,0.002296,0.004228,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.000000,0.007204,0.001368,0.000000,0.000000,0.014220,0.446145

In [3]:
df = df.sample(frac = 1)
train1 = df.iloc[:11250,:]
test1 = df.iloc[11250:,:]

tfile = open('train1.txt', 'a')
tfile.write(train1.to_string())
tfile.close()
tfile = open('test1.txt', 'a')
tfile.write(test1.to_string())
tfile.close()

In [4]:
df = df.sample(frac = 1)
train2 = df.iloc[:11250,:]
test2 = df.iloc[11250:,:]

tfile = open('train2.txt', 'a')
tfile.write(train2.to_string())
tfile.close()
tfile = open('test2.txt', 'a')
tfile.write(test2.to_string())
tfile.close()

In [5]:
df = df.sample(frac = 1)
train3 = df.iloc[:11250,:]
test3 = df.iloc[11250:,:]

tfile = open('train3.txt', 'a')
tfile.write(train3.to_string())
tfile.close()
tfile = open('test3.txt', 'a')
tfile.write(test3.to_string())
tfile.close()

In [6]:
df = df.sample(frac = 1)
train4 = df.iloc[:11250,:]
test4 = df.iloc[11250:,:]

tfile = open('train4.txt', 'a')
tfile.write(train4.to_string())
tfile.close()
tfile = open('test4.txt', 'a')
tfile.write(test4.to_string())
tfile.close()

In [7]:
df = df.sample(frac = 1)
train5 = df.iloc[:11250,:]
test5 = df.iloc[11250:,:]

tfile = open('train5.txt', 'a')
tfile.write(train5.to_string())
tfile.close()
tfile = open('test5.txt', 'a')
tfile.write(test5.to_string())
tfile.close()

In [8]:
df = df.sample(frac = 1)
train6 = df.iloc[:11250,:]
test6 = df.iloc[11250:,:]

tfile = open('train6.txt', 'a')
tfile.write(train6.to_string())
tfile.close()
tfile = open('test6.txt', 'a')
tfile.write(test6.to_string())
tfile.close()

In [9]:
df = df.sample(frac = 1)
train7 = df.iloc[:11250,:]
test7 = df.iloc[11250:,:]

tfile = open('train7.txt', 'a')
tfile.write(train7.to_string())
tfile.close()
tfile = open('test7.txt', 'a')
tfile.write(test7.to_string())
tfile.close()

In [10]:
df = df.sample(frac = 1)
train8 = df.iloc[:11250,:]
test8 = df.iloc[11250:,:]

tfile = open('train8.txt', 'a')
tfile.write(train8.to_string())
tfile.close()
tfile = open('test8.txt', 'a')
tfile.write(test8.to_string())
tfile.close()

In [11]:
df = df.sample(frac = 1)
train9 = df.iloc[:11250,:]
test9 = df.iloc[11250:,:]

tfile = open('train9.txt', 'a')
tfile.write(train9.to_string())
tfile.close()
tfile = open('test9.txt', 'a')
tfile.write(test9.to_string())
tfile.close()

In [12]:
df = df.sample(frac = 1)
train10 = df.iloc[:11250,:]
test10 = df.iloc[11250:,:]

tfile = open('train10.txt', 'a')
tfile.write(train10.to_string())
tfile.close()
tfile = open('test10.txt', 'a')
tfile.write(test10.to_string())
tfile.close()

In [13]:
import numpy as np
from sklearn import svm
import pandas as pd

In [14]:
y_train = df2.iloc[:,:1]
X_train = df2.iloc[:,1:]
y_test = df3.iloc[:,:1]
X_test = df3.iloc[:,1:]

In [15]:
from sklearn.ensemble import AdaBoostClassifier

node = AdaBoostClassifier(base_estimator = svm.SVC(probability = True, kernel = 'linear', C = 1.0, gamma = 'auto'), n_estimators = 10, learning_rate = 1, algorithm = 'SAMME')

In [ ]:
model = node.fit(X_train, y_train.values.ravel())

In [ ]:
node.score(X_test, y_test)

**Change to 20 and run again to get numbers**